<div class="product-list">
  <h1>Listado de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Color</th>
        <th>Categoria</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{item.image}}"/></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <button>Borrar</button>
      </tr>
    </tbody>
  </table>
</div>
