<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Crear Cuenta</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Nombre"
        name="name"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Contraseña"
        name="password"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Email"
        name="email"
        ngModel
      />
      <button class="form-button">Nueva Cuenta</button>
      <a class="auth-toggle-link" (click)="openLogin()">Ya tienes cuenta? <u>Ingresa</u></a>
    </form>
  </div>

  <div *ngIf="showLogin" class="login">
    <h1>Ingresar</h1>
    <p class="error-p">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Email"
        name="email"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Contraseña"
        name="password"
        ngModel
      />

      <button class="form-button">Ingresar</button>
      <a class="auth-toggle-link" (click)="openSignUp()">No tienes cuenta? <u>Creala acá</u></a>

    </form>
  </div>
</div>
