.sign-up, .login {
  text-align: center;
}

.sign-up h1, .login h1 {
  margin-bottom: 50px;
  margin-top: 80px;
  color: darkred;
}

.auth-toggle-link {
  color: darkred;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.error-p {
  color: red;
}

.form-button{
  background-color: darkorange;
  color: white;
  text-align: center;
}
