
body{
  font-family: Poppins;
  text-align: center;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

.common-form {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}



.form-input{
  margin-bottom: 35px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid darkred;
  color: darkred;
}

.form-button{
  height: 35px;
  border: 1px solid darkred;
  cursor: pointer;
}

.message-p{
  color: green;
}

